h3,p{
    text-align: center;
}
.box {
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.keNan:hover{
    animation: rotate 1s infinite both;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.xiang{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 200px;
}
.xiang1{
    background: url("../img/yunos.png") no-repeat center;
    background-size: contain;
}
.zhan{
    background: url("../img/yuan.jpg") no-repeat center;
    background-size: contain;
}
.xiaomi{
    background: url("../img/mi.png") no-repeat center;
    background-size: contain;
}
.resume{
    background: url("../img/resume.jpg") no-repeat center;
    background-size: contain;
}
.blog{
    background: url("../img/blog.png") no-repeat center;
    background-size: contain;
}

.xiang div{
    position: absolute;
    background: rgba(0,0,0,0.7);
    color: #ffffff;
    top:200px;
    width: 100%;
    height: 70px;
    text-align: center;
    transition: all 1s;
}
.xiang div p{
    height: 70px;
}
.xiang:hover div{
    top:110px;
}
.xiang:hover{
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);
    z-index: 2;
    animation: big .5s both;
}
@keyframes big {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(2.5);
    }
}