.header {
    width: 100%;
    height: 636px;
    position: relative;
}

.banner {
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
}

.slide1 {
    opacity: 1;
    background: url(../images/banner1.jpg) center top no-repeat;
}

.slide2 {
    opacity: 0;
    background: url(../images/banner2.jpg) center top no-repeat;
}

.focusList {
    list-style: none;
    position: absolute;
    z-index: 88;
    left: 50%;
    bottom: 20px;
}

.focusList li {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    background: #fff;
    border-radius: 50%;
    float: left;
    margin-right: 6px;
    cursor: pointer;
}

.focusList li.selected {
    background: red;
}

.nav {
    width: 100%;
    height: 83px;
    position: fixed;
    z-index: 111;
    background: rgba(0, 0, 0, 0.1);
}

.nav-scroll {
    background: #ffffff;
}

.nav-scroll .navCon a {
    color: #666;
}

.nav .navCon a:hover {
    color: #fd4f00;
}

.navCon {
    width: 100%;
    overflow: hidden;
}

@media all and (min-width: 1001px) {
    .navCon {
        width: 1000px;
        margin: 0 auto;
    }
}

.navCon h1 {
    float: left;
    margin-top: 22px;
}

.navCon h1 a {
    display: block;
    width: 135px;
    height: 66px;
    background: url(../images/logo2.png) no-repeat;
    background-size: 272px 50%;
}

.navCon ul {
    float: right;
    line-height: 83px;
}

.navCon ul li {
    float: left;
    padding: 0 25px;
    font-size: 16px;
}

.navCon ul li a {
    display: block;
    color: #fff;
    position: relative;
}

.channel ul {
    text-align: center;
}

.channel ul li {
    display: inline-block;
    margin: 0 25px;
}

.channel ul li a {
    display: block;
}

.channel ul li a span {
    display: block;
    text-align: center;
    color: #666;
    margin-top: 20px;
    font-size: 16px;
}

.home {
    width: 100%;
    height: 751px;
    position: relative;
    margin-top: 60px;

}

.home-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.home-content div {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.home-content div img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.home-content div h3 {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 50%;
    top: 13%;
    margin-left: -150px;
    font-size: 36px;
    color: #fff;
    text-align: center;
}

.home-content div p {
    position: absolute;
    width: 100%;
    height: 30px;
    left: 50%;
    top: 25%;
    margin-left: -50%;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.home-content div.cur {
    opacity: 1;
}

.icon {
    width: 100%;
    height: 90px;
    position: absolute;
    bottom: 75px;
    text-align: center;
}

.icon a {
    display: inline-block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    border-radius: 50%;
    background: #fff;
    font-size: 16px;
    color: #000;
    text-align: center;
    margin: 0 16px;
    box-shadow: 0 0 0 0 rgba(0, 205, 153, 1);
}

.icon a.cur {
    background: #00cc99;
}

.icon a:hover {
    background: #00cc99;
    color: #fff;
    box-shadow: 0 0 0 30px transparent;
    -webkit-transition: box-shadow 1s;
    -moz-transition: box-shadow 1s;
    -ms-transition: box-shadow 1s;
    -o-transition: box-shadow 1s;
    transition: box-shadow 1s;
}

.service ul {
    width: 100%;
    text-align: center;
    margin: 40px 0;
}

.service ul li {
    display: inline-block;
    width: 263px;
    border-right: 1px solid #fff;
    vertical-align: top;
}

.service ul li h3 {
    font-size: 20px;
    padding: 10px 0;
    font-weight: normal;
}

.service ul li p {
    text-align: left;
    line-height: 22px;
    font-size: 12px;
}

section .hd {
    text-align: center;
    color: #666;
    padding-top: 60px;
    line-height: 1.2;
}

.hd {
    position: static;
    text-align: center;
    font-size: 36px;
    padding-top: 50px;
    width: auto;
}

.desc {
    position: static;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: auto;
    padding: 0 20px;
}

@media all and (max-width: 1000px) {
    .header {
        height: 465px;
    }

    .navCon ul li {
        padding: 0 15px;
    }

    .banner div {
        background-size: 1399px 465px;
    }

    .channel ul li {
        max-width: 16%;
    }

    .channel ul li a img {
        max-width: 100px;
    }

    .channel ul li.pic1 a img {
        max-width: 80px;
    }

    .channel ul li.pic2 a img, .channel ul li.pic3 a img {
        max-width: 50px;
    }

    .service ul li {
        width: 30%;
    }

    .service ul li img {
        width: 100%;
    }

    .service ul li h3 {
        font-size: 16px;
    }

    .home {
        height: 465px;
        background-size: 1399px 465px;
    }
}

@media all and (max-width: 602px) {
    .navCon ul li {
        padding: 0 6px;
    }

}

@media all and (max-width: 480px) {
    .header {
        height: 300px;
    }

    .nav {
        height: 50px;
    }

    .navCon ul {
        float: none;
        background: red;
        height: 280px;
        display: block;
    }

    .navCon .navNone {
        display: none;
    }

    .navCon ul li {
        float: none;
        padding: 0 0 0 20px;
        line-height: 40px;
        color: #fff;
    }

    .navCon h1 {
        float: none;
        margin-top: 10px;
    }

    .navCon h1 a {
        height: 33px;
        background-size: 272px 100%;
    }

    .navCon .navThree {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 10px;
        right: 10px;
        color: #fd4f00;
        background: url(../images/i-options.png) 0 0 no-repeat;
        background-size: contain;
        z-index: 3;
    }

    .banner div {
        background-size: 669px 300px;
    }

    .channel ul li {
        width: 35%;
        max-width: 100%;
        margin: 0;
    }

    .service ul li {
        width: 90%;
        margin: 0 5%;
    }

    .service ul li img {
        width: 20px;
        height: 20px;
        float: left;
        margin: 10px 10px 0 0;
    }

    .service ul li h3 {
        text-align: left;
    }

    .home {
        height: 300px;
        background-size: 902px 300px;
    }
    .home-content div p {
        top: 34%;
    }

    .icon {
        bottom: 3px;
    }

    .home a {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
    }
    .hd{
        font-size: 20px;
        text-align: left;
        padding: 30px 20px 5px;
    }
}
@media (max-width: 370px){
    .home a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
    }
}


